:root {
    --primary-color: #FFFAFF;
    --secondary-color: #118AB2;
    --accent1-color: #0D0A0B;
    --accent2-color: #846C5B;
}
h1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    position: absolute;
    padding: 25px;
    margin: 25px;
    top: 875px;
    left: 0px;
}
h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
p {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.a {
    text-decoration: none;
}
.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
.fright {
    float: right;
}
article {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 10px;
    padding-left: 20px;
    position: absolute;
    bottom: 235px;
    right: 30px;
    font-size: 25px;
}
.div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fimage {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.para {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding-right: 50px;
}