* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --align-text: center;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 20rem;
    text-align: var(--align-text)
}
aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 5rem;
    top: 2rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--align-text)
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0,0,0 / 0.2);
    padding: 1rem;
    background-color: lightgrey;
    color: black;
}

.indent {
    margin-left: 15px;
}